ALTER TABLE destinations ADD COLUMN average_rating DECIMAL(3,2) DEFAULT 0.00;
ALTER TABLE shops ADD COLUMN rating DECIMAL(3,2) DEFAULT 0.00;
ALTER TABLE products ADD COLUMN rating DECIMAL(3,2) DEFAULT 0.00;
